:root { /* Declarando variáveis no CSS */ 
    --vermelho: #E50914;
    --preto: #141414;
}

* { /* Aplica-se ao documento inteiro, é o RESET CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Limita o conteúdo somente a área do box*/
}

/* BASE */
body {
    background: var(--preto);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}


header .container {
    display: flex;
    flex-direction: row; /* Padrão do display flex, não precisa colocar*/
    align-items: center;
    justify-content: space-between; /* Alinhamento horizontal*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/* FILME PRINCIPAL */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/the-great.jpg'); /*https://www.themoviedb.org/?language=pt-BR*/
    
    /*height: 400px;*/
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .sinopse {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
}

.botao {
    background-color: #00000080;
    border: none;
    color: white;
    width: 200px;

    padding: 15px 30px;/* Espaço interno do elemento*/
    margin-right: 15px;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    cursor: pointer; /* Muda para mãozinha*/
    transition: .3s ease-out; /* Ajusta a transição das animações de botões*/
}

.botao:hover {
    background-color: ivory;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 40%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes {
    margin-top: 5px;
}